<a href="https://colab.research.google.com/github/s-beat17/python_examp1/blob/main/homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,250,3):
  c = i % 2 + i
  print(c)

In [ ]:
lst_list = []
 
for item in range(10, 151, 5):
  if item % 2 == 0:
    lst_list.append(item)
 
print(sum(lst_list))


sum([item for item in range(10, 151, 5) if item % 2 == 0])


result = 0
 
for item in range(10, 151, 5):
  if item % 2 == 0:
    result += item
 
print(result)

1200
1200

In [ ]:
print(list(range(0, 5)))
print(list(range(3, 5)))
print(list(range(4, 20, 4)))

[0, 1, 2, 3, 4]
[3, 4]
[4, 8, 12, 16]

In [ ]:
items = list(map(int, input("1 2 3 4 5 6").split()))
value = int(input("6"))
found = items[0]
for item in items:
  print(found, item, abs(item - value), abs(found - value))
  if abs(item - value) < abs(found - value):
     found = item
print(found)

1 2 3 4 5 63
61
3 3 2 2
3

In [ ]:
from statistics import mean
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

def far_to_cels(far):
  return (far-32) * 5/9


x=0
for i in countries_temperature:
  inp_lst = list(map(far_to_cels, countries_temperature[x][1]))
  list_avg = mean(inp_lst)
  print(countries_temperature[x][0], round(list_avg, 1))
  x+=1

Thailand 23.9
Germany 13.8
Russia 3.7
Poland 12.0

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

In [ ]:
def pay(h, p):
  return h * p

pay(2,4)

8

In [ ]:
def is_palindrome(s): 
    rev = ''.join(reversed(s)) 
    if (s == rev): 
        return True
    return False

s='radar'
is_palindrome(s)

True

In [ ]:
def my_abs(x):
  if x > 0:
    return x
  return -x

my_abs(-2)

2

In [ ]:
def str_lower(s):
  l = list(s.lower().split(' '))
  print(l)

str_lower('FFG DD DDD DDD')

['ffg', 'dd', 'ddd', 'ddd']

In [ ]:
a = ['a1', 'b1', 'c1', 'd1']
b = ['a1', 'b1', 'c1', 'd1', 'g1']
 
res = []
for i in set(a+b):
  y = min(a.count(i), b.count(i))
  if y > 0:
    res.append([i*y, i*y])
print(res)

[['d1', 'd1'], ['a1', 'a1'], ['b1', 'b1'], ['c1', 'c1']]

In [ ]:
def str_s(s):
  print(f'Заглавных: {sum(map(str.isupper, s))}, строчных: {sum(map(str.islower, s))}')

s = "Привет МИР"
str_s(s)

Заглавных: 4, строчных: 5

In [ ]:
def fun(s):
  word_list = s.split('-')
  word_list.sort()
  res = '-'.join(word_list)
  return print(res)
fun('green-red-yellow-black-white')

In [ ]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"
def count_s(s):
  print(len(s.replace(" ", "")))
  print(len(s.split()))
  print(list(filter(lambda x: x.startswith("w"), s.split())))

count_s(string_01)

223
44
['written', 'winners.', 'winner', 'writes', 'which']

In [ ]:
def sort_l(sub_li):
  l = len(sub_li)
  for i in range(0, l):
    for j in range(0, l-i-1):
      if (sub_li[j][1] > sub_li[j + 1][1]):
        tempo = sub_li[j]
        sub_li[j]= sub_li[j + 1]
        sub_li[j + 1]= tempo
  return sub_li

sub_li = [[1, 2, 3], [2, 1, 3], [4, 0, 1]]
print(sort_l(sub_li))

[[4, 0, 1], [2, 1, 3], [1, 2, 3]]